<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="headTag :: headTag">
</head>
<body>
	<div th:include="navbar :: navbar">navbar here</div>
	<section>
		<div class="jumbotron">
			<div class="container">
				<h1>HFL 2015-16</h1>
				<p th:text="'You are logged in as: ' + ${user.firstName}"></p>
			</div>
		</div>
		<div class="container">

			<div>
				<a th:href="@{/admin/addTeam}">Add Team</a>
			</div>
			<div>
				<a th:href="@{/admin/addUser}">Add User</a>
			</div>
			<div>
				<a th:href="@{/admin/checkWeeklyScores}">Check Weekly Scores</a>
			</div>
			<!-- 			<div> -->
			<!-- 				<a th:href="@{/admin/updateTeam/1}">Update Team 1</a> -->
			<!-- 			</div> -->
			<!-- 			<div> -->
			<!-- 				<a th:href="@{/submitLineup}">Submit Lineup</a> -->
			<!-- 			</div> -->
			<div>
				<a th:href="@{/admin/reloadPlayers}">Reload Player Info</a>
			</div>
			<div>
				<a th:href="@{/admin/updateFixtures}">Update Fixtures</a>
			</div>
			<div>
				<p th:text="'Selection gameweek: ' + ${currentGameweek}">Selection gameweek</p>
				<p th:text="'Last gameweek in the system: ' + ${lastGameweek.gameweek}">Last gameweek</p>
				<form class="form-inline" th:action="@{/admin/addGameweek}" th:object="${newGameweek}" method="post">
					<div class="form-group">
						<label for="gameweek">Gameweek</label> <input id="gameweek" type="number" th:field="*{gameweek}"
							class="form:input" />
					</div>
					<div class="form-group">
						<label for="start">Start</label> <input id="start" type="datetime" th:field="*{start}" class="form:input" />
					</div>
					<div class="form-group">
						<label for="end">End</label><input id="end" type="datetime" th:field="*{end}" class="form:input" />
					</div>
					<button type="submit" class="btn btn-default">Add Gameweek</button>
				</form>
				<!-- 				<a th:href="@{/admin/incrementGameweek}">Increment Gameweek</a> <a th:href="@{/admin/decrementGameweek}">Decrement -->
				<!-- 					Gameweek</a> -->
			</div>
			<div>
				<form th:action="@{/logout}" method="post">
					<div class="col-lg-10">
						<input type="submit" id="logout" class="btn btn-primary" value="Logout" />
					</div>
				</form>
			</div>
		</div>
	</section>
</body>
</html>