<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="headTag :: headTag">
</head>
<body>
	<div th:include="navbar :: navbar">navbar here</div>
	<div class="container">
			<div class="jumbotron">
				<h1>Confirm Scores</h1>
				<h5>
					End of gameweek <span th:text="${gameweek}"></span>
				</h5>
			</div>
			<a th:href="@{/updateLineup}">Update Lineup</a> <a th:href="@{/}">Home</a>
			<table class="table table-striped">
				<tr>
					<th>Team Name</th>
					<th>This Gameweek Points</th>
					<th>Proposed Total Points</th>
				</tr>
				<tr th:each="team : ${teams}">
					<td th:text="${team.name}">Team</td>
					<td th:text="${team.gameweekPoints}">Gameweek Points</td>
					<td th:text="${team.totalPoints}">Total Points</td>
				</tr>
			</table>
			<a th:href="@{/admin/confirmWeeklyScores}">Confirm Weekly Scores</a>
	</div>
</body>
</html>