<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headTag">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
<link rel='stylesheet' th:href="@{webjars/bootstrap/3.3.5/css/bootstrap.min.css}" />
<link rel='stylesheet' th:href="@{css/app.css}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
	th:src="@{webjars/jquery/2.1.4/jquery.min.js}"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
th:src="@{webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
<title>HFL</title>
</head>
<body>
</body>
</html>