<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="headTag :: headTag">
</head>
<body>
	<div th:include="navbar :: navbar">navbar here</div>
	<section>
		<div class="jumbotron">
			<div class="container">
				<h1>League Table</h1>
				<h5>
					End of gameweek <span th:text="${currentGameweek}">Gameweek</span>
				</h5>
			</div>
		</div>
	</section>
	<div class="modal fade" id="latestPointsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="exampleModalLabel">One moment...</h4>
				</div>
				<div class="modal-body">
					<div class="progress progress-striped active">
						<div class="progress-bar" style="width: 100%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section>
		<div class="container">
			<table class="table table-striped">
				<tr>
					<th>Position</th>
					<th>Team Name</th>
					<th>Manager</th>
					<th>Gameweek Points</th>
					<th>Total Points</th>
					<th></th>
				</tr>
				<tr th:each="team, teamStat : ${teams}">
					<td th:text="${teamStat.count}"></td>
					<td><a th:text="${team.name}" th:href="@{'/latestPointsBrief/' + ${team.id}}" data-toggle="modal"
						data-target="#latestPointsModal">Team</a></td>
					<td th:text="${team.manager}">Manager</td>
					<td th:text="${team.gameweekPoints}">Gameweek Points</td>
					<td th:text="${team.totalPoints}">Total Points</td>
					<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#latestPointsModal"
							data-whatever="">Latest Points</button></td>
				</tr>
			</table>
		</div>
	</section>
</body>
</html>