<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="headTag :: headTag">
</head>
<body>
	<section>
		<div class="jumbotron">
			<div class="container">
				<h1>Update Squad</h1>
				<p th:text="${team.name}"></p>
			</div>
		</div>
	</section>
	<section>
		<form th:action="@{/admin/updateTeam}" th:object="${newSquad}" method="post">
			<div class="form-group">
				<label class="control-label col-lg-2" for="teamId">Team ID:</label>
				<div class="col-lg-10">
					<input type="hidden" th:field="*{teamId}" th:value="${team.id}" class="form:input-large" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-2" for="playerId1">Player 1:</label>
				<div class="col-lg-10" th:each="player, stat : ${team.squad}">
					<select class="form-control" data-live-search="true" th:field="*{squadIds[stat]}">
						<option th:each="player : ${allPlayers}" th:value="${player.id}" th:text="${player.webName + ' ' + player.club}">Name
						</option>
					</select>
				</div>
			</div>
			<div class="col-lg-10">
				<button type="submit" id="addTeam" class="btn btn-primary" th:text="Submit">Big Button</button>
			</div>
		</form>

	</section>
</body>
</html>